@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url("fonts/idroid.otf") format("opentype");
}

:root{
    --color0: #8affbf;
    --color1: #3CD681;
    --color2: #2D9F60;
    --color3: #1B5E39;
    --color4: #217446;

    --font-android: 'Idroid', cursive;
    --font-default: Arial, Verdana, Helvetica, sans-serif;
    --font-display: 'Bebas Neue', cursive;
}

*{
    margin: 0px;
    padding: 0px;   
    font-family: var(--font-default);
    font-weight: normal;
}

html, body{
    max-width: 100vw;
    background-color: var(--color0);
}

header{
    background-image: linear-gradient(to bottom, var(--color1), var(--color2),  var(--color3) 80%);
    color: white;
    text-align: center;
    box-shadow: 0px 2px 4px 1px #00000080;
}
header > h1{
    padding-top: 20px;
    
    font-family: var(--font-display);
    font-size: 2.5em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.322);
    
}
header > p{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    max-width: 500px;
    margin: auto;

    text-shadow: 2px 2px rgba(0, 0, 0, 0.322);
    font-size: 1em;
}
header > nav{
    display: block;
    margin-top: 20px;

    text-align: left;
    background-color: var(--color3);
    transition-duration: 0.5s;
}
header > nav > a{
    display: inline-block;
    padding: 8px 7px;
    
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.3s;
}
header > nav > a:hover{
    background-color: var(--color2);
}

main{
    box-shadow: 0px 2px 4px 2px #00000080;
    background-color: #f3f3f3;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    box-sizing: border-box;
    margin: auto;
    padding: 20px;
    
    max-width: 800px;
}
main a{
    color: var(--color4);
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    text-decoration: none;
    background-color: #9bffc8;
}
main a::after{
    content: ' 🔗';
}
main strong{
    font-weight: bold;
    color: var(--color4);
    
}
main h1{
    
    margin-bottom: 10px;
    
    font-family: var(--font-android);
    color: var(--color4);
    font-size: 1.5em;
}
main article > h2{
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    
    background-image: linear-gradient(to right, #8affbf83, #f3f3f3);
    color: var(--color4);
    font-family: var(--font-android);
}
main article p{
    margin-top: 10px;
    margin-bottom: 10px;
    
    line-height: 1.5em;
    text-indent: 25px;
    text-align: justify;
}

main img{
    margin: auto;
    width: 100%;
}
main div#bugdroid{
    max-width: 350px;
    margin: auto;
}

main aside{
    background-color: #c4ffde;
    border-radius: 15px;
    padding-bottom: 10px;
    font-size: 0.9em;
}
main aside p{
    padding: 5px 10px 5px 10px;

    line-height: 1.5em;
    text-indent: 25px;
    text-align: justify;

}

main aside ul{
    list-style-position: inside;
    list-style-type: '✔ ';
    column-count: 2;
    
    
    padding-left: 10px;
    font-size: 0.9em;
}

main aside > h2{
    padding: 5px 10px;
    margin-bottom: 10px;

    font-weight: bold;
    font-size: 1.2em;
    color: white;
    background-color: var(--color2);
    border-radius: 15px 15px 0px 0px;

}

.video{
    background-color: var(--color3);
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding: 20px;
    
    aspect-ratio: 16/9;
}

.video > iframe{
    width: 100%;
    height: 100%;
}

footer{
    padding: 10px;
    margin-top: 50px;
    
    background-color: var(--color3);
    color: white;
    font-size: 0.9em;
    text-align: center;
}
footer > p > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer > p > a:hover{
    text-decoration: underline;
}